.spoiler {
    &__head {
        font-size: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__head > span {
        transition: transform 0.2s ease;
        transform: rotate(-90deg);
        margin: 0 0 0 -7px;
    }

    &__body {
        display: none;
        margin: 0 0 0 18px;
    }

    &_open &__body {
        display: block;
    }

    &_open &__head > span {
        transform: rotate(0deg);
    }
}