body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
}

h1 {
    font-size: 2.85em;
    line-height: 1.18181818;
    margin: 0 0 16px;
}

h2 {
    font-size: 2em;
    font-style: inherit;
    line-height: 1.1;
    color: #172B4D;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 12px 0 0 0;
}

h3 {
    font-size: 1.4em;
    font-style: inherit;
    line-height: 1.103448275862069;
    color: #172B4D;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 12px 0 0 0;
}

.separator {
    border-bottom: 2px solid rgb(235, 236, 240);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
