.external-dependencies {
    &__resource-type {
        border-radius: 3px;
        padding: 2px 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        background: #ddd;
        text-align: center;
        
        &_regular {
            background: #4d86db;            
        }

        &_pure {
            background: #4da64d;
        }

        &_provider {
            background: #c4c4c4;
        }

        &_broken {
            background: #ff4d4d;
        }
    }
}