.tree-map {
    position: relative;
}

.tree-map__node-tooltip {
    position: absolute;
}

.tree-map__node {
    stroke: #fff;
}

.tree-map__node-label {
    fill: #fff;
    font-size: 14px;
}

.tree-map g:hover > rect {
    fill-opacity: 1;
    transition: all 0.2s ease;
}

.tree-map__node-tooltip {
    display: none;
    position: absolute;
    left: -30px;
    top: -40px;
    background-color: #fefefe;
    padding: 6px 8px;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    font-size: 12px;
    pointer-events: none;
}

.tree-map__node-tooltip_visible {
    display: block;
}